// @font-face {
//   font-family: "Cubic";
//   src: url("./font/Cubic_11_1.013_R.woff") format("woff"),
//   url("./font/Cubic_11_1.013_R.woff2") format("woff"),
//     url("./font/Cubic_11_1.013_R.ttf") format("truetype");
// }

@font-face {
  font-family: 'Cubic';
  src: url("../../font/Cubic_11_1.013_R.woff");
}

body {
  font-family: 'Cubic' ;
}
